.snake-container {
    width: 100vw;
    height: 100vh;
  }
  
  .grid {
    width: 50%;
    height: 0;
    margin-top: 1vh;
    justify-content: centre;
  }
  
  .grid-item {
    outline: 1% solid grey;
    width: 5vw;
    height: 0;
    padding-top: 5vw;
  }

  .snake {
    background-color: greenyellow
  }

  .food {
    background-color: red
  }