.snake-container {
    width: 50%;
  }
  
  .grid {
    justify-content: left;
  }
  
  .grid-item {
    outline: 1% solid grey;
    width: 10%;
    height: 0; /* Use padding instead */
    padding-top: 10%;
  }

  .snake {
    background-color: greenyellow
  }

  .food {
    background-color: red
  }
